<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="wrapper">

    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a class="logo" href="#">
                    <img src="{{ url_for('static', filename='images/icon.png') }}" alt="logo-img">
                </a>
                <nav class="menu">
                    <ul class="list">
                        <li class="list-item">
                            <a class="list-link" href="/home">Index</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="/about">About</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="/create-article">Create-article</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="#">Page_4</a>
                        </li>
                        <li class="list-item">
                            <a class="list-link" href="#">Page_5</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <h3 class="footer">FOOTER</h3>
        </div>
    </footer>
</div>
</body>
</html>