{% extends "base.html" %}

{% block title %}
    Create Article
{% endblock %}

{% block body %}

<form class="form" action="/create-article" autocomplete="off" method="post">
    <h1 class="form-title">Add Article</h1>
    <h3>Input Username</h3>
    <input type="text" name="username" placeholder="Username">
    <h3>Input Title</h3>
    <input type="text" name="title" placeholder="Title">
    <h3>Input Text</h3>
    <textarea name="text" placeholder="Text"></textarea><br>
    <input class="send" type="submit" value="SEND">
</form>
{% endblock %}